<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CustomerRegistration</servlet-name>
  	<display-name>CustomerRegistration</display-name>
  	<description></description>
  	<servlet-class>com.laundry.controller.CustomerRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WashermanRegistration</servlet-name>
  	<display-name>WashermanRegistration</display-name>
  	<description></description>
  	<servlet-class>com.laundry.controller.WashermanRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderEntry</servlet-name>
  	<display-name>OrderEntry</display-name>
  	<description></description>
  	<servlet-class>com.laundry.controller.OrderEntry</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderItemsEntry</servlet-name>
  	<display-name>OrderItemsEntry</display-name>
  	<description></description>
  	<servlet-class>com.laundry.controller.OrderItemsEntry</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoryEntry</servlet-name>
  	<display-name>CategoryEntry</display-name>
  	<description></description>
  	<servlet-class>com.laundry.controller.CategoryEntry</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClothesEntry</servlet-name>
  	<display-name>ClothesEntry</display-name>
  	<description></description>
  	<servlet-class>com.laundry.controller.ClothesEntry</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ABC</display-name>
  	<servlet-name>ABC</servlet-name>
  	<servlet-class>com.ssi.ABC</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Test</display-name>
  	<servlet-name>Test</servlet-name>
  	<servlet-class>com.laundry.controller.Test</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CustomerRegistration</servlet-name>
  	<url-pattern>/CustomerRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WashermanRegistration</servlet-name>
  	<url-pattern>/WashermanRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderEntry</servlet-name>
  	<url-pattern>/OrderEntry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderItemsEntry</servlet-name>
  	<url-pattern>/OrderItemsEntry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryEntry</servlet-name>
  	<url-pattern>/CategoryEntry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClothesEntry</servlet-name>
  	<url-pattern>/ClothesEntry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ABC</servlet-name>
  	<url-pattern>/ABC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Test</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
</web-app>
